In [21]:
import pandas as pd

In [22]:
movies = pd.read_csv(
'C:\\Users\\SAI SHIVA\\Desktop\\python\\notebooks\\imdb-data\\movies.csv')
ratings = pd.read_csv(
'C:\\Users\\SAI SHIVA\\Desktop\\python\\notebooks\\imdb-data\\ratings.csv')

In [23]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [24]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [25]:
print('movies size = ' + str(movies.shape))
print('ratings size = ' + str(ratings.shape))

movies size = (10329, 3)
ratings size = (105339, 4)

In [26]:
movies['year'] = movies.title.str.extract('(\(\d\d\d\d\))', expand=False)

In [27]:
movies['year'] = movies.year.str.extract('(\d\d\d\d)', expand=False)

In [28]:
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))','')

In [29]:
movies['title'] = movies['title'].apply(lambda x:x.strip())
movies.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [30]:
movies['genres'] = movies.genres.str.split('|')

In [31]:
movies_WithGenres = movies.copy()

In [32]:
for index,row in movies.iterrows():
    for genre in row['genres']:
        movies_WithGenres.at[index, genre] = 1
movies_WithGenres = movies_WithGenres.fillna(0)

In [33]:
movies_WithGenres.head(10)

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,War,Musical,Documentary,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6,Heat,"[Action, Crime, Thriller]",1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,7,Sabrina,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,Tom and Huck,"[Adventure, Children]",1995,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,9,Sudden Death,[Action],1995,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10,GoldenEye,"[Action, Adventure, Thriller]",1995,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
ratings=ratings.drop('timestamp',1)

In [35]:
ratings.head()

   userId  movieId  rating
0       1       16     4.0
1       1       24     1.5
2       1       32     4.0
3       1       47     4.0
4       1       50     4.0

# USER INPUT

In [36]:
user_input = [
       {'title':'GoldenEye', 'rating':1},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Tom and Huck", 'rating':5},
            {'title':'Sudden Death', 'rating':4.5},
    
]

In [37]:
customer_input = pd.DataFrame(user_input)

In [38]:
customer_input

          title  rating
0     GoldenEye     1.0
1     Toy Story     3.5
2       Jumanji     2.0
3  Tom and Huck     5.0
4  Sudden Death     4.5

In [39]:
inputId = movies[movies['title'].isin(customer_input['title'].tolist())]

In [40]:
inputId

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
7,8,Tom and Huck,"[Adventure, Children]",1995
8,9,Sudden Death,[Action],1995
9,10,GoldenEye,"[Action, Adventure, Thriller]",1995

In [41]:
input_movies = pd.merge(inputId,customer_input)

In [42]:
input_movies = input_movies.drop('genres',1).drop('year',1)

In [43]:
input_movies

   movieId         title  rating
0        1     Toy Story     3.5
1        2       Jumanji     2.0
2        8  Tom and Huck     5.0
3        9  Sudden Death     4.5
4       10     GoldenEye     1.0

In [44]:
user_input = movies_WithGenres[movies_WithGenres['movieId'].isin(input_movies['movieId'].tolist())]

In [45]:
user_input = user_input.reset_index(drop=True)

In [46]:
usergenretable = user_input.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)

In [47]:
usergenretable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,War,Musical,Documentary,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
input_movies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    1.0
Name: rating, dtype: float64

In [49]:
userprofile = usergenretable.transpose().dot(input_movies['rating'])

# user preferred Genres

In [50]:
userprofile

Adventure             11.5
Animation              3.5
Children              10.5
Comedy                 3.5
Fantasy                5.5
Romance                0.0
Drama                  0.0
Action                 5.5
Crime                  0.0
Thriller               1.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 0.0
IMAX                   0.0
War                    0.0
Musical                0.0
Documentary            0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [51]:
genretable = movies_WithGenres.set_index(movies_WithGenres['movieId'])

In [52]:
genretable = genretable.drop('movieId',1).drop('title',1).drop('genres',1).drop('year',1)

In [53]:
genretable.shape

(10329, 20)

In [54]:
recommendationTable = ((genretable*userprofile).sum(axis=1))/(userprofile.sum())

In [55]:
recommendationTable.head()

movieId
1    0.841463
2    0.670732
3    0.085366
4    0.085366
5    0.085366
dtype: float64

In [56]:
recommendationTable = recommendationTable.sort_values(ascending=False)
recommendationTable.head()

movieId
51939     0.975610
108932    0.975610
3440      0.890244
27155     0.890244
2005      0.890244
dtype: float64

# Recommendation Table

In [57]:
movies.loc[movies['movieId'].isin(recommendationTable.head(10).keys())]

,movieId,title,genres,year
489,546,Super Mario Bros.,"[Action, Adventure, Children, Comedy, Fantasy,...",1993
500,558,"Pagemaster, The","[Action, Adventure, Animation, Children, Fantasy]",1994
1568,2005,"Goonies, The","[Action, Adventure, Children, Comedy, Fantasy]",1985
2731,3440,Teenage Mutant Ninja Turtles III,"[Action, Adventure, Children, Comedy, Fantasy]",1993
4691,6350,Laputa: Castle in the Sky (Tenkû no shiro Rapy...,"[Action, Adventure, Animation, Children, Fanta...",1986
6288,27155,"Batman/Superman Movie, The","[Action, Adventure, Animation, Children, Fanta...",1998
7324,51939,TMNT (Teenage Mutant Ninja Turtles),"[Action, Adventure, Animation, Children, Comed...",2007
7382,53121,Shrek the Third,"[Adventure, Animation, Children, Comedy, Fantasy]",2007
8631,79139,"Sorcerer's Apprentice, The","[Action, Adventure, Children, Comedy, Fantasy]",2010
9896,108932,The Lego Movie,"[Action, Adventure, Animation, Children, Comed...",2014